  .menu, .menu-celular{
    background-color: #233d7d;
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 1;
  }
  
  .menu-celular{
    display: none;
  }
  
  button{
    border: none;
    background-color: #233d7d;
    color: white;
  }
  
  button:hover{
    background-color: #334f95;
  }
  
  .menu-celular{
    display: none;
  }
  
  mat-icon{
    color: white;
  }
  
  /* Smartphones (portrait and landscape) ———– */
  @media only screen and (min-device-width : 320px)
  and (max-device-width : 480px) {
  
    .menu-celular{
      display: block;
    }
  
    .menu{
      display: none;
    }
  
  }
  