<form class="row nest-form" action="/action_page.php">
    <div class="col-md-12 my-3 row d-flex justify-content-start">
        <label class="col-md-12" for="party">Fecha de migración:</label>
        <div class="row col-md-10 my-1">
            <p class="col-md-2 mx-1">Del:</p> 
            <input [(ngModel)]="date_from" class="col-md-8" type="date" id="party" name="date_from" required>
        </div>
        <div class="row col-md-10 my-1">
            <p class="col-md-2 mx-1">Al:</p> 
            <input [(ngModel)]="date_to" class="col-md-8" type="date" id="party" name="date_to" required>
        </div>
        <span class="validity"></span>
        <div class="col-md-2 my-2 d-flex justify-content-end">
            <input type="submit" (click)="saveDate(date_from,date_to)">
        </div>
    </div>
    <div class="col-md-6 my-2">
        <div class="col-md-12 d-flex justify-content-center">
            <img src="{{image}}" class="img-fluid">
        </div>
    </div>
    <div class="col-md-6 my-2 form-group">
        <label for="name">Nombre pokemon:</label>
        <input [(ngModel)]="nombrePokemon" (keyup)="buscarPokemon()" type="" placeholder="{{placeholder}}" name="nombrePokemon" autocomplete="off">
        <div *ngIf="searchActive" class="search">
            <button class="row col-md-12 m-0" *ngFor="let pokemon of data_pokemons.pokemons" (click)="changeImage(pokemon['img'])" (mouseover)="changeText(pokemon)">
                <img src="{{pokemon['img']}}" class="col-md-4">
                <div class="col-md-8">
                    <p>{{pokemon['name']}}</p>
                </div>
            </button>
        </div>
    </div>
    <div class="col-md-6 my-2 form-group">
        <label for="lat">Latitud:</label>
        <input [(ngModel)]="lat" type="" class="form-control" id="lat" placeholder="Ingresar latitud" name="lat">
    </div>
    <div class="col-md-6 my-2 form-group">
        <label for="lon">Longitud:</label>
        <input [(ngModel)]="lon" type="" class="form-control" id="lon" placeholder="Ingresar longitud" name="lon">
    </div>

    <div class="col-md-12 my-5 d-flex justify-content-end">
        <input class="mx-2" type="submit" (click)="saveNest()">
    </div>
</form>
