
<div class="menu">
    <nav class="navbar navbar-dark py-1 d-flex justify-content-around">
        <div class="logo col-md-2">
            <img class="img-fluid" src="../../assets/images/logo/logo.png">
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <button class="col-2 m-1 p-2" (click)="getPokemons(generaciones['gen_1']['inicio'],generaciones['gen_1']['fin'])">1.ª Gen.</button>
            <button class="col-2 m-1 p-2" (click)="getPokemons(generaciones['gen_2']['inicio'],generaciones['gen_2']['fin'])">2.ª Gen.</button>
            <button class="col-2 m-1 p-2" (click)="getPokemons(generaciones['gen_3']['inicio'],generaciones['gen_3']['fin'])">3.ª Gen.</button>
            <button class="col-2 m-1 p-2" (click)="getPokemons(generaciones['gen_4']['inicio'],generaciones['gen_4']['fin'])">4.ª Gen.</button>
            <button class="col-2 m-1 p-2" (click)="getPokemons(generaciones['gen_5']['inicio'],generaciones['gen_5']['fin'])">5.ª Gen.</button>
            <button class="col-2 m-1 p-2">Nidos</button>
        </div>
        <div class="col-8 col-md-3">
            <form class="row form-inline">
                <input [(ngModel)]="nombrePokemon" (keyup)="buscarPokemon()" class="search-input" class="col-md-10 mx-1 form-control " type="search" name="nombrePokemon" aria-label="Search">
                <mat-icon class="col-md-1">search</mat-icon>
            </form>
        </div>
    </nav>
</div>

<!--MENU PARA CELULAR--> 

<div class="menu-celular">
    <nav class="navbar navbar-dark d-flex justify-content-between">
        <button class="col-1 m-0 p-0" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="menu-celular">
            <button mat-menu-item class="text-center" (click)="getPokemons(generaciones['gen_1']['inicio'],generaciones['gen_1']['fin'])">1.ª Gen.</button>
            <button mat-menu-item class="text-center" (click)="getPokemons(generaciones['gen_2']['inicio'],generaciones['gen_2']['fin'])">2.ª Gen.</button>
            <button mat-menu-item class="text-center" (click)="getPokemons(generaciones['gen_3']['inicio'],generaciones['gen_3']['fin'])">3.ª Gen.</button>
            <button mat-menu-item class="text-center" (click)="getPokemons(generaciones['gen_4']['inicio'],generaciones['gen_4']['fin'])">4.ª Gen.</button>
            <button  mat-menu-item class="text-center" (click)="getPokemons(generaciones['gen_5']['inicio'],generaciones['gen_5']['fin'])">5.ª Gen.</button>
        </mat-menu>
        <div class="col-10 col-md-4 mx-1">
            <form class="row form-inline mx-2 d-flex justify-content-between">
                <input [(ngModel)]="nombrePokemon" (keyup)="buscarPokemon()" class="search-input" class="col-10 form-control " type="search" name="nombrePokemon" aria-label="Search">
                <mat-icon class="col-md-1">search</mat-icon>
            </form>
        </div>
    </nav>
</div>

<div class="row galeria">
    <a class="col-4 col-md-2 justify-content-start text-center" *ngFor="let pokemon of pokemons; " >
        <div (click)="openDialog(pokemon['id'])">
            <img src="{{pokemon['img']}}" class="col-12 img-fluid">
            <p clase="text-center">{{pokemon['name']}}</p>
        </div>
    </a>
</div>

