<app-menu-celular></app-menu-celular>
<div class="menu">
    <nav class="navbar navbar-dark py-1 d-flex justify-content-around">
        <div class="logo col-md-2">
            <img class="img-fluid" src="../../assets/images/logo/logo.png">
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <button class="col-2 m-0 p-2" mat-menu-item (click)="getPokemons(0,151)">Generacion 1</button>
            <button class="col-2 m-0 p-2" mat-menu-item (click)="getPokemons(151,100)">Generacion 2</button>
            <button class="col-2 m-0 p-2" mat-menu-item (click)="getPokemons(251,135)">Generacion 3</button>
            <button class="col-2 m-0 p-2" mat-menu-item (click)="getPokemons(386,107)">Generacion 4</button>
            <button class="col-2 m-0 p-2" mat-menu-item (click)="getPokemons(493,156)">Generacion 5</button>
        </div>
        <div class="col-8 col-md-4">
            <form class="row form-inline">
                <input [(ngModel)]="nombrePokemon" (keyup)="buscarPokemon()" class="search-input" class="col-md-10 mx-1 form-control " type="search" name="nombrePokemon" aria-label="Search">
                <mat-icon class="col-md-1">search</mat-icon>
            </form>
        </div>
    </nav>
</div>

<div class="row galeria">
    <a class="col-4 col-md-2 justify-content-start text-center" *ngFor="let pokemon of pokemons; " >
        <div (click)="openDialog(pokemon['id'])">
            <img src="{{pokemon['img']}}" class="col-12 img-fluid">
            <p clase="text-center">{{pokemon['name']}}</p>
        </div>
    </a>
</div>
