.menu{
  background-color: lightslategray;
}

a {
  transition: .5s;
}
  
a:hover {
  background: gold;
}

app-menu-celular{
  display: none;
}


.galeria{
  margin: 0;
  padding: 0;
  position: relative;
  top: 90px;
}



.menu{
  position:fixed;
  width: 100%;
	top: 0;
  z-index: 1;
}

/* Smartphones (portrait and landscape) ———– */
@media only screen and (min-device-width : 320px)
and (max-device-width : 480px) {
  .menu{
    display: none;
  }

  .galeria{
    width: 100%;
    position: unset;
  }

  app-menu-celular{
    display: block;
  }

}

