<div id="nido" class="row">
    <div class="col-md-12 mb-2 align-items-end">
        <mat-icon class="close" (click)="onNoClick()">close</mat-icon>
    </div>
    <p class="col-md-12 fondo text-center">Migracion de nidos del 20/02/2020 al 04/02/2020</p>
    <div class="row col-md-12 col-12 py-3 d-flex justify-content-between">
        <div class="row col-md-4 col-4 py-3 galeria-nido">
                <a class="col-6 col-md-6 justify-content-start text-center">
                    <div>
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/10.png" class="col-12">
                        <p clase="text-center">Caterpie</p>
                    </div>
                </a>
                <a class="col-6 col-md-6 justify-content-start text-center">
                    <div>
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/133.png" class="col-12 img-fluid">
                        <p clase="text-center">Eevee</p>
                    </div>
                </a>
                <a class="col-6 col-md-6 justify-content-start text-center">
                    <div>
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/231.png" class="col-12 img-fluid">
                        <p clase="text-center">Phanpy</p>
                    </div>
                </a>
                <a class="col-6 col-md-6 justify-content-start text-center">
                    <div>
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/396.png" class="col-12 img-fluid">
                        <p clase="text-center">Starly</p>
                    </div>
                </a>
                <a class="col-6 col-md-6 justify-content-start text-center">
                    <div>
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/393.png" class="col-12 img-fluid">
                        <p clase="text-center">Piplup</p>
                    </div>
                </a>
                <a class="col-6 col-md-6 justify-content-start text-center">
                    <div>
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/498.png" class="col-12 img-fluid">
                        <p clase="text-center">Tepig</p>
                    </div>
                </a>
                <a class="col-6 col-md-6 justify-content-start text-center">
                    <div>
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/543.png" class="col-12 img-fluid">
                        <p clase="text-center">Venipede</p>
                    </div>
                </a>
        </div>
        <div class="col-md-7 col-7">
            <div #mapContainer id="map" class="mx-3"></div>
        </div>
    </div>
</div>
