<div id="pokemon" mat-dialog-content *ngIf="pokemon_info">
    <div class="col-12 d-flex justify-content-end">
        <mat-icon (click)="onNoClick()">close</mat-icon>
    </div>
    <div class="row encabezado">
        <div class="col-6 d-flex justify-content-center">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon_info['id']}}.png" >
        </div>
        <div class="col-6 col-md-3 my-auto text-center">
            <h5>{{pokemon_info['name']}}</h5>
            <div class="row d-flex justify-content-center">
                <img *ngFor="let info of pokemon_info['types']" src="../../assets/images/{{info['type']['name']}}.png" >            
            </div>
        </div>
    </div>
    <hr>
    <div class="pokemon_info">
        <div class="my-3">
            <h5 class="col-12 my-3"> Resistencias </h5>
            <div class="row mx-3">
                <div class="row col-md-2 col-4" *ngFor="let resistencia of resistencias" >
                   {{resistencia['count']}}x
                   <img src="../../assets/images/{{resistencia['type']}}.png" >
                </div>   
            </div>
        </div>
        <div class="my-3">
            <h5 class="col-12 my-3"> Debilidad </h5>
            <div class="row mx-3">
                <div class="row col-md-2 col-4" *ngFor="let debilidad of debilidades" >
                    {{debilidad['count']}}x
                    <img src="../../assets/images/{{debilidad['type']}}.png">
                </div>  
            </div>
        </div>
    </div>
</div>

