#pokemon{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.encabezado{
    height: 20vh;
}

hr{
    background: #007bff!important;
    width: 80%;
}

/**************************************/

.water{
    background-color: dodgerblue;
}
.fire{
    background-color: orange; 
}
.dark{
    background-color: dimgray;
}
.electric{
    background-color: darkgoldenrod;
}
.fairy{
    background-color: pink;
}
