#pokemon{
    background-image: url('../../assets/images/background/water.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.encabezado{
    height: 20vh;
}

hr{
    background: #007bff!important;
    width: 80%;
}
