.close, .close-cell{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
}

.marco p{
    border-style: solid;
    border-width: 0.2vw;
    border-color:  #233d7d;
}

.nombre{
    padding: 0% !important;
}

.cadena-evolutiva p{
    text-align: center !important;
    font-size: 0.8vw;
}

h5{
    color: white;
}


/**************************************/

.tabla{
    background-color: #445fa1;
}

.tabla div{
    color: white;
}

  
  /* Smartphones (portrait and landscape) ———– */
@media only screen and (min-device-width : 480px)
and (max-device-width : 2040px) {
    .galeria{
        padding: 0;
        margin: 0;
        position: relative;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
      }

    /**************************************/

    .galeria a:hover {
        box-shadow: 0 0 12px 8px #29468f;
        /*background: rgb(243, 243, 235);*/
    }
    
    .galeria div{
        transition: transform .2s;
    }
    
    .galeria div:hover{
        transform: scale(1.1);
    }

    .close-cell{
        display: none;
    }

}

@media only screen and (min-device-width : 320px)
and (max-device-width : 480px) {

    .galeria{
        display: none;
        justify-content: none !important;
        align-items: none !important;
      }

    .cadena-evolutiva{
        margin: 0 !important;
        padding: 0 !important;
        display: flex;
        flex-wrap: nowrap; 
        overflow: auto;
    }

    .cadena-evolutiva a{
        width: 100%;
        flex: 0 0 auto;
    }

    .cadena-evolutiva p{
        font-size: 6vw !important;
    }

    .close{
        display: none;
    }

    .close-cell{
        display: block;
    }

}