/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

html, body { height: 100%; overflow-x: hidden;}

body { margin: 0; font-family: 'Orbitron', sans-serif;}
.fondo{ background-color: #233d7d;}

.navbar{
    font-family: 'Orbitron', sans-serif;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.mat-dialog-content{
    height: 100%;
    max-height: 100% !important;
}

.mat-dialog-container{
    background: white !important;
    border-style: solid;
    border-width: 0.5vw;
    border-color:  #233d7d;
    color: black;
}

.mat-menu-panel {
    min-width: 100%;
    background-color: #233d7d;
}

.mat-menu-item{
    font-family: 'Orbitron', sans-serif;
}

/*~~~~~~~~~~~~~~~ ICON MAP ~~~~~~~~~~~~~~~*/

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    height: 80px;
    width: 80px;
}

.info{
    display: block;
    position: absolute;
    background-color: aqua;
    width: 80px;
    height: 30px;
}

.mapboxgl-popup {
    max-width: 100px;
}
  
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media only screen and (min-device-width : 320px)
and (max-device-width : 480px) {

    .cdk-overlay-connected-position-bounding-box{
        left: 0 !important;
    }

    .mat-menu-content{
        padding-bottom: 0 !important;
    }
}