<div id="nido" class="row d-flex justify-content-center">
    <div class="col-md-12 d-flex justify-content-center">
        <p class="col-md-6 col-8 my-4 p-2 fondo text-center">Texto xd</p>
    </div>
    <div class="row col-md-4 col-12 d-flex justify-content-center">
        <p class="col-md-8 text-center fecha-migracion">Migraciones del 01/01/2020 al 07/01/2020</p>
        <div class="col-md-8 row galeria-nido">
            <div class="col-3 col-md-12" *ngFor="let nest of nests">
                <div class="pokemon m-1 row">
                    <p clase="text-center col-12">{{nest.name}}</p>
                    <p>lat -> {{nest.lat}}</p>
                    <p>lng -> {{nest.lng}}</p>
                    <img src="{{nest.img}}" class="img-fluid col-6" alt="">
                    <div class="col-md-12 d-flex justify-content-end">
                        <button class="m-1 edit" (click)="edit(nest)">editar</button>
                        <button class="m-1 delete" (click)="delete(nest.$key)">eliminar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 delete-save d-flex justify-content-end">
            <button class="m-1" (click)="removeAll()">Eliminar todos</button>
        </div>
    </div>
    <div class="col-md-4">
        <app-nest-form></app-nest-form>
    </div>
</div>
